* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: #1e252b;
  text-decoration: none;
}
.container {
  width: 1245px;
  padding: 0 15px;
  margin: 0 auto;
}
.header {
  display: flex;
}
.nav-link {
  color: white;
  display: flex;
}
.header-nav {
  display: flex;
  align-items: center;
}
